Problem Statement: 1
You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions.
Tasks to be performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater
using if condition. Think about all the edge cases, and print the statements accordingly.

In [43]:
 a,b=10,20
#Condition
if a>b:
    print(a,">",b)
elif b>a:
    print(b,">",a)
elif a==b:
    print(a,"=",b)
else:
    print("INVALID INPUT")

20 > 10

Problem Statement: 2 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed:

Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.

In [44]:
 try:
    num1 = float(input("Enter First Number : "))
    num2 = float(input("Enter Second Number : "))
    num3 = float(input("Enter Third Number : "))
    if (num1 > num2) and (num1 > num3):
       greatest = num1
    elif (num2 > num1) and (num2 > num3):
       greatest = num2
    else:
       greatest = num3
    print("Greatest of all given numbers is : ",greatest)
except:
    print("Please Enter Numbers Only!")

Enter First Number : 344
Enter Second Number : 43
Enter Third Number : 256
Greatest of all given numbers is :  344.0

Problem Statement: 3 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed:

Print the numbers from 1 to 10 using while loop.

In [45]:
i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

Problem Statement: 4 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed: Create a list that is having 10,23,4,26,4,75,24,54 values and with the help of while loop, fetch the even numbers and print the numbers.

In [46]:
l = [10,23,4,26,4,75,24,54]   #list declaration
i = 0
while i<len(l):
    if l[i]%2==0:    #condition for even number
        print(l[i])
    i+=1

10
4
26
4
24
54

Problem Statement: 5
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).
2. Write a Function to check if year number is a leap year.
3. Write a Function to take an array and return another array that contains the members of first
array that are even.
4. Write a Function that takes 2 arrays and prints the members of first array that are present of
second array. (HINT: use Membership Comprehension)

In [47]:
#To create a list containing squares of numbers from 1 to 10 USING LIST COMPREHENSION
l=[x**2 for x in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:

#Function to check if year number is a leap year
def CheckLeap(Year):
  if((Year % 400 == 0) or (Year % 100 != 0) and (Year % 4 == 0)):  #condition for leap year 
    print("Given Year is a leap Year");  
  else:  
    print ("Given Year is not a leap Year")  

#calling function
CheckLeap(2000)

Given Year is a leap Year

In [49]:
# Function to take an array and return another array that contains the members of first array that are even

def filter_even(l):
    even_list = []
    for i in l:
        if i%2==0:
            even_list.append(i)
    return even_list

#calling function
L = filter_even([2,4,5,4,5,7,6,8,5,9])
print(L)

[2, 4, 4, 6, 8]

In [50]:
#Write a Function that takes 2 arrays and prints the members of first array that are present of second array.

def filter_list(l1,l2):
    print("Member of first array in second array are : ")
    for i in l1:
        if (i in l2):
            print(i,end=", ")

filter_list({1,4,2,3,4,5,3,4,5},{5,4,7,6,7,5,4,3,4,53})

Member of first array in second array are :
3, 4, 5,

In [ ]:
Problem Statement: 6
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False
3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [29]:
#1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
t1=(10,20,30)
t2=(40,50,60)
print("1st tupple -->",t1)
print("2nd tupple -->",t2)

1st tupple --> (10, 20, 30)
2nd tupple --> (40, 50, 60)


t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print(t_combine)

In [21]:
#b. Repeat the elements of “t_combine” 3 times
t1=(10,20,30)
t2=(40,50,60)
t_combine=3*t1+3*t2
print(t_combine)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60)

In [31]:
#c. Access the 3rd element from “t_combine”
t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print(t_combine[3])

40

In [32]:
#d. Access the first three elements from “t_combine”
t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print(t_combine[0:3])

(10, 20, 30)

In [33]:
#e. Access the last three elements from “t_combine”
t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print(t_combine[3:6])

(40, 50, 60)

In [24]:
#2. Create a list ‘my_list’ with these elements:
t1=(10,20,30)
t2=(40,50,60)
my_list=t1+t2
print("my_list -->",my_list)

my_list --> (10, 20, 30, 40, 50, 60)

In [34]:
#a. First element is a tuple with values 1,2,3
t1=(1,2,3)
print("t1 --> ", t1)

t1 -->  (1, 2, 3)

In [35]:
#b. Second element is a tuple with values “a”,”b”,”c”
t2=("a","b","c")
print("t2 --> ", t2)

t2 -->  ('a', 'b', 'c')

In [36]:
#c. Third element is a tuple with values True,False
t3=("True", "False")
print("t3 --> ", t3)

t3 -->  ('True', 'False')

In [37]:
#3. Append a new tuple – (1,’a’,True) to ‘my_list’

my_list=(10,20,30,40,50,60)
t_append=my_list+(1,"a","True")
print("new tuple --> ", t_append)

new tuple -->  (10, 20, 30, 40, 50, 60, 1, 'a', 'True')

In [38]:
#a. Append a new list – *“sparta”,123+ to my_list
my_list=(10,20,30,40,50,60)
t_append=my_list+("*","sparta","123+")
print("new list --> ", t_append)

new list -->  (10, 20, 30, 40, 50, 60, '*', 'sparta', '123+')

In [39]:
#4. Create a dictionary ‘fruit’ where:
fruit={1:"Apple",2:"Banana",3:"Mango",4:"Guava"}
print("fruit --> ", fruit)

fruit -->  {1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Guava'}

In [51]:
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)

fruit["Fruit"]=("Apple","Banana","Mango","Guava")
print(fruit)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Guava', 'Fruit': ('Apple', 'Banana', 'Mango', 'Guava')}

In [52]:
#b. The second key is ‘Cost’ and the values are (85,54,120,70)


fruit["Cost"]=(85,53,120,70)
print(fruit)

{1: 'Apple', 2: 'Banana', 3: 'Mango', 4: 'Guava', 'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 53, 120, 70)}

In [53]:
#c. Extract all the keys from ‘fruit’
print(fruit.keys())

dict_keys([1, 2, 3, 4, 'Fruit', 'Cost'])

In [54]:
#d. Extract all the values from ‘fruit’
print(fruit.values())

dict_values(['Apple', 'Banana', 'Mango', 'Guava', ('Apple', 'Banana', 'Mango', 'Guava'), (85, 53, 120, 70)])

In [55]:
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result


my_set = {1,1,"a","a",True,True}
print(my_set)

{1, 'a'}

Problem Statement: 7

L is a list defined as L= [11, 12, 13, 14].
(i)	    WAP to add 50 and 60 to L. 
(ii)	WAP to remove 11 and 13from L.
(iii)	WAP to sort L in ascending order.
(iv)	WAP to sort L in descending order.
(v)	    WAP to search for 13 in L.
(vi)	WAP to count the number of elements present in L.
(vii)	WAP to sum all the elements in L.
(viii)	WAP to sum all ODD numbers in L.
(ix)	WAP to sum all EVEN numbers in L.
(x)	    WAP to sum all PRIME numbers in L.
(xi)	WAP to clear all the elements in L.
(xii)	WAP to delete L.

In [56]:
#(i)	    WAP to add 50 and 60 to L. 

L= [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [57]:
#(ii)	WAP to remove 11 and 13from L.



try:
    L.remove(11)
    L.remove(13)
except:
    print("Given elements are not present in list.")
print(L)

[12, 14, 50, 60]

In [58]:
#(iii)	WAP to sort L in ascending order.
L.sort()
print(L)

[12, 14, 50, 60]

In [59]:
#(iv)	WAP to sort L in descending order.

L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
#(v)	    WAP to search for 13 in L.

In [ ]:
#(vi)	WAP to count the number of elements present in L.
L=[1,2,3,4,5,6,7,8,9,]

In [60]:
#(vii)	WAP to sum all the elements in L.

if (13 in L):
    print("13 is present in the list")
else:
    print("13 is not present in the list")

13 is not present in the list

In [61]:
#(viii)	WAP to sum all ODD numbers in L.
print(len(L))

4

In [62]:
#(ix)	WAP to sum all EVEN numbers in L.


sum_list = sum(L)
print(sum_list)

136

In [63]:
#(x)	    WAP to sum all PRIME numbers in L.


sum_odd = 0
for i in L:
    if i%2 != 0:
        sum_odd+=i
print("Sum of Odd numbers in List are : ",sum_odd)

Sum of Odd numbers in List are :  0

In [64]:
#(xi)	WAP to clear all the elements in L.


sum_even = 0
for i in L:
    if i%2 == 0:
        sum_even+=i
print("Sum of Even numbers in List are : ",sum_even)

Sum of Even numbers in List are :  136

In [65]:
#(xii)	WAP to delete L.
sum_prime = 0
for num in L:
   if num > 1:
       for i in range(2, int(num/2)+1):
           if (num % i) == 0:
               break
       else:
           sum_prime+=num
print(sum_prime)

0

In [66]:
#(xi)	WAP to clear all the elements in L.

L.clear()
print(L)

[]

In [68]:
#(xii)	WAP to delete L.
try:
    del L
except:
    print("Given List is not present.")

Given List is not present.

Problem Statement: 8

D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i)	WAP to add new entry in D; key=8 and value is 8.8
(ii)	WAP to remove key=2.
(iii)	WAP to check weather 6 key is present in D.
(iv)	WAP to count the number of elements present in D.
(v)	WAP to add all the values present D.
(vi)	WAP to update the value of 3 to 7.1.
(vii)	WAP to clear the dictionary.

In [69]:
#(i)	WAP to add new entry in D; key=8 and value is 8.8
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [70]:
#(ii)	WAP to remove key=2.

try:
    del D[2]
except:
    print("Given element is not present in the dictionary.")
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [71]:
#(iii)	WAP to check weather 6 key is present in D.

flag = 0
for i in D:
    if D[i]==6:
        flag = 1
        break
if flag:
    print("6 is present in the dictionary")
else:
    print("6 is NOT present in the dictionary")

6 is NOT present in the dictionary

In [72]:
#(iv)	WAP to count the number of elements present in D.

print("Number of elements in dictionary are : ",len(D))

Number of elements in dictionary are :  5

In [73]:
#(v)	WAP to add all the values present D.
sum_dic = 0
for i in D:
    sum_dic+=D[i]
print("Sum = ",sum_dic)

Sum =  37.4

In [74]:
#(vi)	WAP to update the value of 3 to 7.1.


D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [75]:
# (vii)	WAP to clear the dictionary.

D.clear()
print(D)

{}

Problem Statement: 9

S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
    S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i)	    WAP to add 55 and 66 in Set S1.
(ii)	WAP to remove 10 and 30 from Set S1.
(iii)	WAP to check whether 40 is present in S1.
(iv)	WAP to find the union between S1 and S2.
(v)	    WAP to find the intersection between S1 and S2.
(vi)	WAP to find the S1 - S2.

In [76]:
#    S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
#    S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].


S1={10, 20, 30, 40, 50, 60}
S2={40, 50, 60, 70, 80, 90}

In [77]:
# (i)	    WAP to add 55 and 66 in Set S1.

S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [78]:
# (ii)	WAP to remove 10 and 30 from Set S1.

S1.discard(10)
S1.discard(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [79]:
# (iii)	WAP to check whether 40 is present in S1.

if (40 in S1):
    print("40 is present in the set")
else:
    print("40 is not present in the set")

40 is present in the set

In [80]:
# (iv)	WAP to find the union between S1 and S2.
union_S1_S2 = S1.union(S2)
print(union_S1_S2)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [81]:
# (v)	    WAP to find the intersection between S1 and S2.

intersection_S1_S2 = S1.intersection(S2)
print(intersection_S1_S2)

{40, 50, 60}

In [82]:
# (vi)	WAP to find the S1 - S2.

diff_S1_S2 = S1.difference(S2)
print(diff_S1_S2)

{66, 20, 55}

Problem Statement: 10

Write the following program.
(i)	    WAP to print 100 random strings whose length between 6 and 8.
(ii)	WAP to print all prime numbers between 600 and 800.
(iii)	WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [83]:
# (i)	    WAP to print 100 random strings whose length between 6 and 8.


import string
import random

for i in range(100):
    res = ''.join(random.choices(string.ascii_uppercase +
                                 string.digits,k=random.randint(6,8)))

    print(res,end=" , ")

ZFIK0MOZ , CFZXHEDI , CCAO23P7 , 89HP1ZD , 96LUPVE , ZD5CH2DN , 2KZZQU24 , X0PN90S , HNEBRI , LD4YPG , ZL810L2V , 5M2GFF , ZMWGIQ1E , J1UR62Q8 , M3A7DO , MNS5IP2I , BWN1EP , S7EGKZ , 33J9ON , IR7KXT7 , 0CF6O30Z , JOYDBE , BZEVUV , LCJJOZH , R378GC5U , RYZ9PS , ILC9BDGW , YE1R8J0 , WPT3XX56 , KN3RF16 , XLTJF8R , 8ZV76L8C , 2D870QV , 89O64IV3 , XUB3BX , 2DQG0X , IP4HL2J , IMV48D , HHIH80 , X8LO36 , UQ7DAFXK , FFL2JE , GHRWDLVY , Y3EPEU1 , JUXVQ3 , 7ZGD7M2 , WX83TVR , BNJ9RC , HM6I5Q , YA79X3 , ISJS3G , 1QELNUC , BPMDY5Y , 0CE9023 , H8Y737 , GXASPZX5 , UKKUN8H , EUSDZRT , TPM7GY2 , KJMDGMG , X2I5XD , 2LQJNVM7 , D0Z8OL , M31L6G3 , QYTEISBE , 7B34LO4N , 8BU0OYY , TF33IP , A2XJ3F , V0UODXEY , D86RL8X , 8Y9OURS6 , B3H2R1 , CLTPTWA , J9H9U2J6 , VPM04FEL , Q5KIOYPQ , TKJ8G30A , G7037K , 7HL6H2U , WNEL4W9 , 8DPI82 , NAHD8BQI , 0ETL7F9 , EZBSMKFP , O41MOD , NJ30MOQ , COUMF5J , 7HUCN89 , XX03WK0 , I8XCX2 , 84I0CD , JR5GL36R , EUF72YU , WI8KPPV , LRQP04UX , 30FACH , YYZ2AJ , ZRAHRY , AZTTCX ,

In [84]:
# (ii)	WAP to print all prime numbers between 600 and 800.


print("Prime nubers between 600 and 800 are : ")
for num in range(600,801):
   if num > 1:
       for i in range(2, int(num/2)+1):
           if (num % i) == 0:
               break
       else:
           print(num,end=" , ")

Prime nubers between 600 and 800 are :
601 , 607 , 613 , 617 , 619 , 631 , 641 , 643 , 647 , 653 , 659 , 661 , 673 , 677 , 683 , 691 , 701 , 709 , 719 , 727 , 733 , 739 , 743 , 751 , 757 , 761 , 769 , 773 , 787 , 797 ,

In [85]:
print("Numbers divisible by 7 and 8 between 100 and 1000 are : ")
for i in range(100,1001):
    if i%7==0 and i%9==0:
        print(i,end=" , ")

Numbers divisible by 7 and 8 between 100 and 1000 are :
126 , 189 , 252 , 315 , 378 , 441 , 504 , 567 , 630 , 693 , 756 , 819 , 882 , 945 ,

In [86]:
# (iii)	WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

print("Numbers divisible by 7 and 8 between 100 and 1000 are : ")
for i in range(100,1001):
    if i%7==0 and i%9==0:
        print(i,end=" , ")

Numbers divisible by 7 and 8 between 100 and 1000 are :
126 , 189 , 252 , 315 , 378 , 441 , 504 , 567 , 630 , 693 , 756 , 819 , 882 , 945 ,

Problem Statement: 11

WAP to create two lists of 10 random numbers between 10 and 30; Find 
(i)	    Common numbers in the two lists
(ii)	Unique numbers in both the list
(iii)	Minimum in both the list
(iv)	Maximum in both the list
(v)	    Sum of both the lists

In [87]:
# (i)	    Common numbers in the two lists

l1=[]
l2=[]
for i in range(10):
    l1.append(random.randint(10,30))
    l2.append(random.randint(10,30))
print(l1)
print(l2)
print("Common numbers in the two lists are :")
for i in l1:
    if i in l2:
        print(i,end=" , ")

[13, 12, 11, 17, 28, 13, 13, 17, 20, 18]
[29, 28, 24, 18, 27, 25, 22, 24, 27, 11]
Common numbers in the two lists are :
11 , 28 , 18 ,

In [88]:
# (ii)	Unique numbers in both the list

print("Unique numbers in both list are : ")
for i in l1:
    if i not in l2:
        print(i,end=" , ")
for i in l2:
    if i not in l1:
        print(i,end=" , ")

Unique numbers in both list are :
13 , 12 , 17 , 13 , 13 , 17 , 20 , 29 , 24 , 27 , 25 , 22 , 24 , 27 ,

In [89]:
# (iii)	Minimum in both the list
print("Minimum in list 1 : ",min(l1))
print("Minimum in list 2 : ",min(l2))

Minimum in list 1 :  11
Minimum in list 2 :  11

In [90]:
# (iv)	Maximum in both the list
print("Maximum in list 1 : ",max(l1))
print("Maximum in list 2 : ",max(l2))

Maximum in list 1 :  28
Maximum in list 2 :  29

In [91]:
# (v)	    Sum of both the lists
sum1,sum2=0,0
for i in l1:
    sum1+=i
for i in l2:
    sum2+=i
print("Sum for first list is :",sum1)
print("Sum of second list is :",sum2)

Sum for first list is : 162
Sum of second list is : 235

Problem Statement: 12

WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
(i)	All odd numbers
(ii)	All even numbers
(iii)	All prime numbers

In [92]:
# WAP to create a list of 100 random numbers between 100 and 900. 
l=[]
for i in range(100):
    l.append(random.randint(100,900))
print(l)

[657, 721, 335, 215, 238, 443, 559, 124, 525, 829, 801, 559, 125, 111, 365, 314, 575, 288, 810, 714, 897, 777, 745, 717, 685, 515, 164, 252, 603, 719, 296, 223, 391, 731, 886, 606, 324, 612, 534, 826, 161, 744, 532, 182, 497, 697, 420, 157, 430, 795, 779, 264, 708, 796, 735, 140, 101, 616, 444, 541, 445, 410, 469, 260, 325, 490, 305, 385, 802, 799, 743, 361, 850, 687, 664, 521, 563, 301, 822, 243, 169, 365, 401, 736, 439, 728, 125, 126, 428, 641, 537, 206, 419, 531, 282, 503, 388, 384, 761, 618]

In [93]:
# Count and print the (i)	All odd numbers

counter=0
for i in l:
    if i%2!=0:
        counter+=1
        print(i,end=", ")
print("\nTotal odd numbers are :",counter)

657, 721, 335, 215, 443, 559, 525, 829, 801, 559, 125, 111, 365, 575, 897, 777, 745, 717, 685, 515, 603, 719, 223, 391, 731, 161, 497, 697, 157, 795, 779, 735, 101, 541, 445, 469, 325, 305, 385, 799, 743, 361, 687, 521, 563, 301, 243, 169, 365, 401, 439, 125, 641, 537, 419, 531, 503, 761,
Total odd numbers are : 58

In [94]:
# Count and print the (ii)	All even numbers


counter=0
for i in l:
    if i%2==0:
        counter+=1
        print(i,end=", ")
print("\nTotal even numbers are :",counter)

238, 124, 314, 288, 810, 714, 164, 252, 296, 886, 606, 324, 612, 534, 826, 744, 532, 182, 420, 430, 264, 708, 796, 140, 616, 444, 410, 260, 490, 802, 850, 664, 822, 736, 728, 126, 428, 206, 282, 388, 384, 618,
Total even numbers are : 42

In [95]:
# Count and print the (iii)	All prime numbers

counter=0
for num in l:
    if num > 1:
       for i in range(2, int(num/2)+1):
           if (num % i) == 0:
               break
       else:
           counter+=1
           print(num,end=", ")
   
print("\nTotal prime numbers are :",counter)

443, 829, 719, 223, 157, 101, 541, 743, 521, 563, 401, 439, 641, 419, 503, 761,
Total prime numbers are : 16

Problem Statement: 13

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
WAP to read all the keys and values from dictionary and write to the file in the given below format.
	
    Key1, Value1
	Key2, Value2
	Key3, Value3

In [96]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
fin = open("KeyValuePair.txt","w")
fin.write("")
fin.close()
fin = open("KeyValuePair.txt","a")
for i in D:
    fin.write(str(i)+",  "+D[i]+"\n")
fin.close()
print("Successfully Written in file.")

Successfully Written in file.

Problem Statement: 14

L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
	One, 3
	Two, 3
	Four, 4

In [97]:
L=["One","Two","Three","Four","Five"]
fin = open("ListElementLength.txt","w")
fin.write("")
fin.close()

fin = open("ListElementLength.txt","a")
for i in L:
    fin.write(i+" , "+str(len(i))+"\n")
fin.close()
print("Successfully Written in file.")

Successfully Written in file.

Problem Statement: 15

Write to the file 100 random strings whose length between 10 and 15.

In [98]:
fin = open("100RandomStrings.txt","w")
fin.write("")
fin.close()
fin = open("100RandomStrings.txt","a")
for i in range(100):
    res = ''.join(random.choices(string.ascii_uppercase + string.digits,k=random.randint(10,15)))
    fin.write(res+"\n")
fin.close()
print("Successfully Written in file.")

Successfully Written in file.

Problem Statement: 16

Write to the file all prime numbers between 600 and 800.

In [99]:
fin = open("primeNo.txt","w")
fin.write("")
fin.close()
fin = open("primeNo.txt","a")
for num in range(600,801):
    if num > 1:
       for i in range(2, int(num/2)+1):
           if (num % i) == 0:
               break
       else:
           fin.write(str(num)+"\n")
fin.close()
print("Successfully Written in file.")

Successfully Written in file.

Problem Statement: 17

WAP to calculate the time taken by a program.

In [100]:
import time
start = time.time()    # taking starting time of program
# do whatever task you want to perform For eg: doing something as shown:
for i in range(1000):
    x=0
end = time.time()
print("Time taken : ",end-start)

Time taken :  0.0010006427764892578

Problem Statement: 18

WAP to sort following number of elements in a list, calculate time taken and plot the graph.   

Number of elements in list	    Time Taken
            50k                     T1
            100k	                T2
            150k	                T3
            200k	                T4
            250k	                T5

Problem Statement: 19

WAP to create a dictionary of student marks in five subjects and you have to find the student 
         having maximum and minimum average marks.

In [ ]:
students = dict()  #creating dictionary
try:
    n = int(input("Enter number of students :"))
except:
    print("Enter Only positive integer. NOTE(Assuming number of students to be 1)")
    n=1
for i in range(n):
        name = input("Enter name of student :")
        marks_list= []
        for j in range(5):
            try:
                marks = float(input("Enter marks out of 100:"))
                if marks>100:
                    marks=100
            except:
                print("Marks should be a Whole number Only !! NOTE : (Assuming marks to be 0)")
                marks=0
            marks_list.append(marks)] = marks_list   #key = name 
print("Dictionary of student created successfully : ")

max_avg=0
min_avg=500
for i in students:   #for maximum and minimum average
    sums=0
    for j in students[i]:
        sums += j
    avg = sums/5
    if avg>max_avg:
        max_avg = avg
        max_avg_student = i
    if avg<min_avg:
        min_avg = avg
        min_avg_student = i
print("Maximum Average Student : ",max_avg_student)
print("Minimum Average Student : ",min_avg_student)