In [3]:
name = Varma
print(type(name))

NameError: name 'Varma' is not defined

In [5]:
x = 3
y = 2.5
z = 5
print(X + y / z)

NameError: name 'X' is not defined

In [6]:
4 % (1 + 9)**2 - 60 // (7 + 2)

-2

In [10]:

word="I love Python programming"

word[-18:-12]

'Python'

In [11]:

word="I love Python programming"


word[7:13]

'Python'

In [12]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [23]:
string = '******mumbai23#####'
print(string.lstrip("*"))
print(string.rstrip("#"))
print(string)

mumbai23#####
******mumbai23
******mumbai23#####

In [22]:
# string which is to be stripped
string = "++++x...y!!z* geeksforgeeks"
 
# Removes given set of characters from left.
print(string.lstrip("+.!*xyz"))

 geeksforgeeks

In [27]:
string = 'I love breaking bad'
print(string.count("a"))

2

In [ ]:


 
# Removes given set of characters from left.
print(string.lstrip("+.!*xyz"))

In [32]:
stdin=bmaunmdbraai
import ast,sys
input_str = sys.stdin.read()
#Type your code here\
# string which is to be stripped
message1 = "bmaunmdbraai"
# string which is to be stripped
message2 = "bmaunmdbraai"


print(message1, message2)

NameError: name 'bmaunmdbraai' is not defined

In [1]:
string = 'mvqugvqhc2ndoi'
len(string)

14

In [2]:
string = 'mvqugvqhc2ndoi'
string[-4]

'n'

In [3]:
string[10]

'n'

In [9]:
A="bmaunmdbraai"
for (i in A):
    print(i)

SyntaxError: invalid syntax (Temp/ipykernel_11700/506889695.py, line 2)

In [17]:
A="bmaunmdbraai"
B=len(A)
C=""
D=""
for i in range(0,B):
    if i%2==0:
        C=C+A[i]
    else:
        D=D+A[i]
print(C+","+D)

bandra,mumbai

In [21]:
b=A[0:12:2]
b

'bandra'

In [25]:
A="bmaunmdbraai"
B=len(A)
C=A[0:12:2]
D=A[1:12:2]
print(C+","+D)

bandra,mumbai

In [23]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [10]:
C

'bandra'

In [11]:
D

'mumbai'

Suppose t = (1, 2, 4, 3). Which of the following statements would result in an error? (More than one option may be correct)

In [24]:
t = (1, 2, 4, 3)

print(t[4])

IndexError: tuple index out of range

In [25]:
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [26]:
print(t[1:-4])

()

In [27]:

print(len(t))

4

Which of the following declarations can be used to create a Python tuple? (More than one option may be correct.)

In [29]:
x = 1,2,
type(x)

tuple

In [30]:
x = ((1,2,3), 4,5)
type(x)

tuple

In [31]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.



Sample Input:

('Monty Python', 'British', 1969)



Sample Output:

﻿('Monty Python', 'British', 1969, 'Python')

In [33]:
input_tuple = ('Monty Python', 'British', 1969)

In [37]:
L[:-1]=input_tuple
type(L)

TypeError: 'tuple' object does not support item assignment

String Split
Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003
 

Note that you need to print in the order first name, last name and customer code.

In [55]:
input_str = 'Kumar_Ravi_003'
new_t = input_str[0:3]
type(new_t)
new_t
new_t = input_str[0:3]
type(new_t)
new_t

'Kum'

In [40]:
#second_name= 'Kumar', 
#first_name= 'Ravi', 
#customer_code = '003'

SyntaxError: cannot assign to literal (Temp/ipykernel_10892/3966812726.py, line 1)

In [41]:
# Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?
list_1=[2, 33, 222, 14, 25]
list_1[-5]

2

In [42]:
# A list supports negative indexing, with the last element starting at -1. So, list_1[-5] will return 2.
list_1[-5]

2

In [43]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)
#What would be the output of the code above?

[]

In [44]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)
#What would the sorting function return?

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [47]:
# How will I extract 'Python' from the nested list?
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list
input_list[2][0]

'Python'

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [50]:
L=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
type(L)
M=str(L)
type(M)

str

Description
Let’s say you have two lists, A and B. Identify the elements which are common in the two lists, A and B and return them in a sorted manner. For example 



Sample Input :

A = [5,1,3,4,4,5,6,7]

B = [3,3,5,5, 1 ,7 ,2]



Sample Output:

[1,3,5,7]



If you observe the sample output here, you can see that:

Though value 5 is repeated twice in both lists, in the final output, it is present only once.
The values are returned in a sorted manner with values increasing.

In [11]:
A = [5,1,3,4,4,5,6,7]
C=(set(A))
B = [3,3,5,5, 1 ,7 ,2]
D=(set(B))
print(C.intersection(D))

<class 'set'>
<class 'set'>
{1, 3, 5, 7}

In [14]:
list_1=[5,5,5,5,5,5,5,3]
list_2=[3,3,5,5,1,7,2]
#Type your answer here
C=(set(list_1))
D=(set(list_2))
E=C.intersection(D)
answer= list(E)
print(answer)

[3, 5]

In [15]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

Description
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employee id and values represent the name, age, and profession (in the same order).



Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}



Sample output:

'Product Lead'



Note: Assume that employee data would be available in the data provided to you.

In [16]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_data[104][2]

'Product Lead'

Which of the following statements create a dictionary? Select all the options that apply. (More than one option may be correct.)

In [25]:
d = {'a':1, 'b':2}
print(d)
type(d)

{'a': 1, 'b': 2}

dict

In [26]:
e = dict(a=1, b=2)
print(e)
type(e)

{'a': 1, 'b': 2}

dict

In [27]:

f = {}
type(f)

dict


Suppose dict_1 = {"Python":40, "R":45}. What command should be used to delete the entry "R"?

In [28]:
dict_1 = {"Python":40, "R":45}
del dict_1["R"]
dict_1

In [30]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

Dict_Error
Description
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’, which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.



Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [33]:
input_dict={'Name': 'Monty', 'Profession': 'Singer'}
# Type your answer here
answer=input_dict[Label]
print(answer)

NameError: name 'Label' is not defined

List of Values in a Dictionary.
Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [38]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple', 'Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
sorted(input_dict)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']

Description
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.



For example, if input_str = 'analytics' then, your output should print 'YES'.



Sample Input:

alpha



Sample Output:

YES

In [2]:
# Which of the following sequences of inputs would give the output 'C' 'A' 'D' 'B' over multiple iterations?
# Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
score=int(input("score: "))
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

score: 76
C

In [3]:
# What will the following segment of code print? (Don't use Jupyter notebook)

if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [4]:
# What will the following segment of code print? (Don't use Jupyter notebook)

if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [13]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]
    print(L1[i],'-', L2[i], '=', L3[i])

10 - 8 = 2
20 - 14 = 6
30 - 15 = 15
24 - 20 = 4
18 - 10 = 8

Complete this piece of code for calculating the element-wise difference between two lists and storing them in L3.

[Assume that the lists are of the same length.]

In [47]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2[i] -L1[i])
L3

[-2, -6, -15, -4, -8]

In [31]:
for i in range(len(L1)):
    print(i)

0
1
2
3
4

Description

You are given a list of string elements and asked to return a list which contains each element of the string in title case or in other words first character of the string would be in upper case and remaining all characters in lower case

Sample Input:

['VARMA', 'raj', 'Gupta', 'SaNdeeP']

Sample Output

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [53]:
input_list=['VARMA', 'raj', 'Gupta', 'SaNdeeP']
input_list.upper()
input_list

AttributeError: 'list' object has no attribute 'upper'