In [ ]:
#########################################################################
# PROGRAM 1: Hello World
# LEARNING : How to print and run python program
#########################################################################

In [ ]:
# Assingment 1.1: WAP to print your name two times

In [ ]:
#########################################################################
# PROGRAM 2: Add numbers and Concatinate strings
# LEARNING : How to delclare variable, add and print result
#########################################################################

In [ ]:

#------------------------------------------------------------------------
# Example 2.1: Add two numbers
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 2.2: Concatinate two strings
#------------------------------------------------------------------------

In [ ]:
# Assingment 2.1: WAP to add three numbers and print result

In [ ]:
# Assingment 2.2: WAP to concatinate three strings and print result

In [ ]:
#########################################################################
# PROGRAM 3: Input from user
# LEARNING : How to take input from user
# NOTE     : input() function is used to take integer as input.
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 3.1: Input two numbers from user and add them
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 3.2: Input two strings from user and concatinate them
#------------------------------------------------------------------------

In [ ]:
# Assingment 3.1: WAP to add three numbers, inputs from user and print result

In [ ]:
# Try: In above program, give number in place of string and try to get the difference between input() and raw_input() function.

In [ ]:
# Assingment 3.2: WAP to concatinate three strings, inputs from user and print

In [ ]:
#########################################################################
# PROGRAM 4: Loops
# LEARNING : Loop, increment, decrement
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 4.1: While Loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.2: Range Function
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.3: For loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.4: For loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.5: For loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.6: Print table of 5
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.7: Sum all numbers from 1 to 10
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 4.8: Sum all numbers from 1 to 10
#------------------------------------------------------------------------

In [ ]:
# Assingment 4.1: WAP to print the table of 7, 9.

In [ ]:
# Assingment 4.2: WAP to print the table of n and n is given by user.

In [ ]:
# Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
#########################################################################
# PROGRAM 5: If-Else - Conditional Checking
# LEARNING : if-else Condition
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 5.1: Input two numbers from user and compare them
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------	
# Example 5.2: Check weather a number is odd or even:
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 5.3: Check weather a number is prime of not:
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 5.4: Conditional Checking - Compare strings
#------------------------------------------------------------------------

In [ ]:
# Assingment 5.1: WAP to find max amoung three numbers and input from user
# Try max() function

In [ ]:
# Assingment 5.2: WAP to add all even numbers from 1 to n and n is given by user.

In [ ]:
# Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by user.

In [ ]:
#########################################################################
# PROGRAM 6: Functions
# LEARNING : How to declare and call
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 6.1: Add two numbers
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 6.2: Prime number
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 6.3: Add 1 to n
#------------------------------------------------------------------------

In [ ]:
# Assingment 6.1: WAP using function that add all odd numbers from 1 to n; n given by user.

In [ ]:
# Assingment 6.2: WAP using function that add all even numbers from 1 to n; n given by user.

In [ ]:
# Assingment 6.3: WAP using function that add all prime numbers from 1 to n; n given by user.

In [ ]:
#########################################################################
# PROGRAM 7: Math library
# LEARNING : Use math library
#########################################################################

In [ ]:
#########################################################################
# PROGRAM 8: Strings
# LEARNING : How to handle string
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 8.1: Indexing in string
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.2: String length, upper, lower
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.3: String formatting
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.4: String in Triple Quotes
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.5: String strip
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.6: String split
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.7: Count in string 
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.8: Reverse a String
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 8.9: Palindrome 
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 9: Exceptional Handaling
# LEARNING : How to handle Exceptionals
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 9.1: Error Generation
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 9.2: Exception handaling for division by zero
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 9.3: Exception handaling for array out of index
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 9.4: Exception handaling for file not found
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 9.5: Exception handaling for file not found
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 10: Random Numbers/String
# LEARNING : Generate Random Numbers/String
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 10.1: Generate random number between 0 and 1
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.2: Generate random integer number
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.3: Generate random real number
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.4: Generate sample from a list of elements
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.5: Generate random string
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.6: Generate random digits
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 10.7: Generate random string + digits
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 11: Demo of Data Structure - List
# LEARNING : How to use list, add, delete, search in list
#            List indexing starts from 0 to n-1
# NOTE     : Read more about list and try yourself
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 11.1: List Decleration
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.2: List Iteration
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.3: List Iteration using for loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.4: List Iteration using for loop
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.5 : Adding and deleting from list
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.6 : Sum/Average of List
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.7 : Min/Max/Sort the list
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.8 : Merge lists & select elements
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 11.9 : Multiply all elements of list by a constant.
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 12: Demo of Data Structure - Dictionary
# LEARNING  : How to use Dictionary, add, delete, search in Dictionary
# NOTE      : Read more about Dictionary and try yourself
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 12.1: Declare Dictionary
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.2: Triverse dictionary
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.3: Getting Keys and Values
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.4 : Updating, Adding and Deleting from Dictionary
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.5 : Checking for Key in Dictionary
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.6
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 12.7
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 13: Demo of Data Structure - Touple
# LEARNING  : How to use Touple, add, delete, search in Touple
# NOTE      : Read more about Touple and try yourself
#########################################################################

In [ ]:
#########################################################################
# PROGRAM 14: Demo of Data Structure - Set
# LEARNING  : How to use Set, add, delete, search in Set
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 14.1
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 14.2: Opertions on Sets
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 14.3: Add, delete, pop element from set
#------------------------------------------------------------------------

In [ ]:
#########################################################################
# PROGRAM 15: Command Line Argument
# LEARNING  : How to Take input from command line and process it
# NOTE      : To Run the PROGRAM - $ python Program.py 10 20
#########################################################################

In [ ]:
#------------------------------------------------------------------------
# Example 15.1: Add two numbers given at cmd line
# NOTE      : To Run the PROGRAM - $ python Program.py 10 20
# Go to Anaconda Navigator and open terminal
# Use the path lik (base) C:\Users\Abhishek\Documents\Python>python Program.py 10 20
# This path contain the Program.py file 
# Use the same code in Program.py file
# Now run the file in terminal
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 15.2: Concatinate two strings given at cmd line
# NOTE      : To Run the PROGRAM - $ python Program1.py Sample String
#------------------------------------------------------------------------
# Go to Anaconda Navigator and open terminal
# Use the path lik (base) C:\Users\Abhishek\Documents\Python>python Program1.py 10 20
# This path contain the Program1.py file 
# Use the same code in Program1.py file
# Now run the file in terminal

In [ ]:
#------------------------------------------------------------------------
# Example 15.3: Add all the numbers given at cmd line
# NOTE      : To Run the PROGRAM - $ python Program2.py 10 20
#------------------------------------------------------------------------
# Go to Anaconda Navigator and open terminal
# Use the path lik (base) C:\Users\Abhishek\Documents\Python>python Program2.py 10 20
# This path contain the Program2.py file 
# Use the same code in Program2.py file
# Now run the file in terminal

In [ ]:
#------------------------------------------------------------------------
# Example 15.4: Concatinate all strings given at cmd line
# NOTE      : To Run the PROGRAM - $ python Program3.py 10 20
#------------------------------------------------------------------------
# Go to Anaconda Navigator and open terminal
# Use the path lik (base) C:\Users\Abhishek\Documents\Python>python Program3.py 10 20
# This path contain the Program3.py file 
# Use the same code in Program3.py file
# Now run the file in terminal

In [ ]:
#########################################################################
# PROGRAM 16: File Handling 
# LEARNING  : How to open the file, how to read line by line
#########################################################################

In [ ]:

#------------------------------------------------------------------------
# Example 16.1: Print the content of file line by line
# NOTE      : First create a file abc.txt and write some lines
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 16.2: Writing 1 to 10 in file
#------------------------------------------------------------------------

In [ ]:
#------------------------------------------------------------------------
# Example 16.3: Read from one file and write to other file
#------------------------------------------------------------------------